# Database
# If not using docker, set DATABASE_URL to hosted postgres url and ignore the other database variables.
DATABASE_URL="postgresql://buncn:securepassword@localhost:5432/buncn"

DATABASE_HOST="localhost"
DATABASE_USER="buncn"
DATABASE_PASSWORD="securepassword"
DATABASE_NAME="buncn"
DATABASE_PORT="5432"
